.todoItem {
  align-self: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  left: 2px;
}

.active {
  border-left: 5px solid #ff2f5a;
  margin-left: -5px;
}

.todoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 11px 0;
  border-bottom: 3px solid #f5f5f5;
}

.todoText {
  font-weight: 600;
  max-width: 500px;
}

.commentsCount {
  position: relative;
  font-size: 0.95em;
  top: 2px;
  margin-right: auto;
  margin-left: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #27ccc0;
  border-radius: 15px;
  padding: 1px 8px;
}
