.avatar {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.orange {
  background-color: #ff8a00;
}

.darkblue {
  background-color: #47568c;
}

.grey {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 600px) {
  .avatar {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .avatar {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .avatar {
    height: 55px;
    width: 55px;
  }
}